<div class='jumbotron text-center'>
    <img class='logo' src='/img/logo.png'>
    <p class='lead'>Track Your Job Apps</p>
    {{#if user}}
        <a href='/jobs/add' class='btn btn-dark btn-lg'>Add Job</a>
    {{else}}
        <a href='/users/login' class='btn btn-dark btn-lg'>Login</a>
        <a href='/users/register' class='btn btn-dark btn-lg'>Register</a>
    {{/if}}
    
</div>